/*.sum
/.vscode
/go.sum
/cmd/taurus.exe
/cmd/tmp
.idea
/cmd/taurus
/app/export/*.csv
/cmd/*.csv
*.idea/
/vendor
/kipping...
*.DS_Store
*.log
*./app/upload/img/*.jpeg
*./app/upload/img/*.jpg
*./app/upload/img/*.gif
